html {
  font-size: 62.5%; }

body {
  background-color: #24292e;
  background-image: url("../assets/img/star-bg.png");
  background-size: cover;
  background-position: bottom;
  color: #f8f8f8; }

p, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: dryBrush;
  src: url(../assets/fonts/DryBrush.ttf); }

@font-face {
  font-family: font2;
  src: url(../assets/fonts/IndieFlower.ttf); }

.mainHeader {
  display: block;
  height: 100vh;
  width: 100%;
  position: relative; }
  .mainHeader__imgContainer {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
  .mainHeader__imgFront {
    position: absolute;
    top: 0;
    right: 95px;
    opacity: .6;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  .mainHeader__imgBack {
    display: block; }
  .mainHeader__bigText {
    position: absolute;
    right: 17.6rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8rem;
    font-family: dryBrush;
    width: 50%;
    text-align: center;
    line-height: 8rem; }
    .mainHeader__bigText span {
      font-size: 5rem; }
      .mainHeader__bigText span span {
        font-size: 7rem; }

.aboutMe {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .aboutMe__p-container {
    height: 9rem;
    font-family: font2;
    width: 60%;
    font-size: 3rem; }

.typed-cursor {
  color: azure;
  font-size: 3rem;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  font-family: 'Courier New', Courier, monospace; }

.skills {
  width: 100%;
  transform: skewY(3deg); }
  .skills > * {
    transform: skewY(-3deg); }
  .skills__title {
    font-size: 9rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold; }
  .skills__features {
    width: 100%; }
  .skills [class^=skills_progressBar] > * {
    display: inline-block; }
  .skills__progressContainer {
    padding: 5rem 0 5rem 15rem; }
  .skills__right1 .bar {
    width: 0%; }
  .skills__right2 .bar {
    width: 0%; }
  .skills__right3 .bar {
    width: 0%; }
  .skills__right4 .bar {
    width: 0%; }
  .skills__right5 .bar {
    width: 0%; }
  .skills__progressContainer [class*=devicon-] {
    font-size: 3.5rem;
    transform: translateY(1rem);
    display: inline-block;
    padding-bottom: 1rem; }
  .skills__icons [class*=devicon-] {
    font-size: 8rem; }
  .skills__icons {
    display: flex;
    align-items: center;
    margin-top: -4.5rem; }
  .skills__icons > * {
    display: grid; }
  .skills__icons > * > * {
    margin: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(12rem); }
  50% {
    opacity: 1; }
  90% {
    opacity: .6; }
  100% {
    transform: translateX(0);
    opacity: .6; } }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.marginAll {
  margin: 10rem; }

.marginBottom {
  margin-bottom: 10rem; }

.marginTop {
  margin-bottom: 10rem; }

.marginButtomNotLast > *:not(:last-child) {
  margin-bottom: 2rem; }

.marginLeftNotFirst > *:not(:first-child) {
  margin-left: 3rem; }

.gradientText {
  background-image: linear-gradient(to right, #61045f, #aa076b);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; }

.barContainer {
  height: 2rem;
  width: 35rem;
  position: relative;
  border-right: 2px white solid; }
  .barContainer:after {
    content: attr(data-content);
    position: absolute;
    right: -25px;
    top: 1px;
    color: blue;
    font-size: 1.3rem;
    transform: rotate(-90deg); }
  .barContainer .bar {
    border-radius: 5px;
    line-height: 1.8rem;
    text-align: center;
    height: 100%;
    font-size: 1.5rem; }
    .barContainer .bar--violetGrad {
      background-image: linear-gradient(to right, #61045f, #aa076b); }
