.foo{
    padding-top: 5rem;
    box-shadow: 0 -20rem 20rem rgba(0, 0, 0, .2);
    //height: 100vh;
    width: 100%;
    background-color: white;
    -webkit-clip-path: polygon(0 0, 39% 6%, 74% 4%, 100% 8%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 39% 6%, 74% 4%, 100% 8%, 100% 100%, 0 100%);
    &>*{
        height: 100%;
        display: inline-block;
        background-color: pink;
    }
    &__left{
    }
    &__name{
        color: #25292f;
        font-size: 10rem; 
    }
    &__subName{
        font-size: 4.9rem;
        font-family: raleway-l;
        line-height: .7rem;
        color: #25292f;
    }
    &__social{
        font-size: 7rem;
    }
    &__address{
        line-height: 1rem; 
        font-family: roboto; 
        font-size: 4rem; 
    }
}