//about section ------------------------------------------------------------
.aboutMe{
    height: 100vh;
    width: 100%;
    //background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    &__p-container{
        height:9rem;
        font-family: font2;
        width: 60%;
        font-size: 3rem;
        //text-align: center;
    }
}            

.typed-cursor {
    color:azure;
    font-size: 3rem;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035) ;
    font-family: 'Courier New', Courier, monospace;
    
  } 

//skill section ------------------------------------------------------------

.skills{
    //background-color: white;
    width: 100%;
    transform: skewY(3deg);

    & > *{
        transform: skewY(-3deg);
    }

    &__title{
        font-size: 9rem;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
    }
    &__features{
        width: 100%;
    }
    [class^= skills_progressBar] >* {
        display: inline-block;
    }
    &__progressContainer{
        padding: 5rem 0 5rem 15rem;
    } 

    &__right1 .bar{
        width: 0%;
    }
    &__right2 .bar{
        width: 0%;
    }
    &__right3 .bar{
        width: 0%;
    }
    &__right4 .bar{
        width: 0%;
    }
    &__right5 .bar{
        width: 0%;
    }
    &__progressContainer [class*=devicon-] {
        font-size: 3.5rem;
        transform: translateY(1rem);
        display: inline-block;
        padding-bottom: 1rem;
    }
    &__icons [class*=devicon-]{
        font-size: 8rem;
    }

    &__icons{
        display: flex;
        align-items: center;
        margin-top: -4.5rem;    }

    &__icons > *{
        display:grid;
    }
    &__icons >*>*{
        margin: 3rem;
    }
  
    
}


