//about section ------------------------------------------------------------
.aboutMe{
    height: 100vh;
    width: 100%;
    //background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    &__p-container{ 
        height:9rem;
        font-family: font2;
        width: 60%;
        font-size: 3rem;
        //text-align: center;
    }
}            

.typed-cursor {
    color:azure;
    font-size: 3rem;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035) ;
    font-family: 'Courier New', Courier, monospace;
    
  } 

//skill section ------------------------------------------------------------

.skills{
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    margin-top: 10rem;
    background-color: white;
    transform: skewY(3deg);

    & > *{
        transform: skewY(-3deg);
    }

    &__title{
        font-size: 9rem;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
    }
    &__features{
        width: 100%;
    }
    [class^= skills_progressBar] >* {
        display: inline-block;
    }
    &__progressContainer{
        padding: 5rem 0 5rem 15rem;
    } 

    &__right1 .bar{
        width: 0%;
    }
    &__right2 .bar{
        width: 0%;
    }
    &__right3 .bar{
        width: 0%;
    }
    &__right4 .bar{
        width: 0%;
    }
    &__right5 .bar{
        width: 0%;
    }
    &__progressContainer [class*=devicon-] {
        font-size: 3.5rem;
        transform: translateY(1rem);
        display: inline-block;
        padding-bottom: 1rem;
    }
    &__icons [class*=devicon-]{
        font-size: 8rem;
        color: #0c0c0c14 !important;    }

    &__icons{
        //transform: skewY(-3deg);
        display: flex;
        align-items: center;
        margin-top: -4.5rem;  
        top: 17rem;
        position: absolute;
        right: 14rem;
        z-index: -3;
      }

    &__icons > *{
        display:grid;
    }
    &__icons >*>*{
        margin: 3rem;
        
    }
   
    &__psdToHtml{
        //background-color: red;
        margin: 11rem 1rem 0 1rem;
        padding-bottom: 17rem; 
        display: flex;
        justify-content: space-evenly;

    }
    &__imgContainer img{    
        width: 100%;
    }
    &__imgContainer{
        position: relative;
    }
    &__imgContainer:after{
        position: relative;
        transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
        // backface-visibility: hidden; 
         -webkit-font-smoothing: subpixel-antialiased;
        // transform: translateZ(0);
    }
    
    &__imgContainer:nth-child(1):after{
        @include RotatedName ('psd');  //pag nag hover dito dapat lalaki ng ganto pero ang orig maliit lang .. orayyyt ba???
    }
    &__imgContainer:nth-child(2):after{
        @include RotatedName ('markup');
    }
    &__imgContainer:nth-child(3):after{
        @include RotatedName ('responsive');
    }

    &__imgContainer:hover::after{
        transform:rotate(-90deg) scale(2.2);  
    }

  
    
}

.wordpress{
    font-size: 1.7rem;
    font-family: raleway-l;
    &__title{
        font-size: 3rem;
        text-align: center;
        font-family: raleway-l;
        
       //text-transform: uppercase;
    }
    &__wp{

    }
    &__row1{
        &>*{
            padding: 0;
        }
        div:nth-child(2){
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.5rem;
            text-align: center;
        }
        
    }
    &__row2{
        &>*{
            padding: 0;
        }
        div:nth-child(1){
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.5rem;
            text-align: center;
        }
        
    }
   &__row1 &__imgContainer{
        
       img{
        width: 100%;
       } 
       &:after{
        @include RotatedName-wordpress ('backend',300px);
    }
   }
   &__row2 &__imgContainer{
        
    img{
     width: 100%;
    } 
    &:after{
     @include RotatedName-wordpress ('frontend',356px);
 }
}
   

}


