 .barContainer{
    height: 2rem;
    width: 51rem;
    position: relative;
    border-right: 2px #7e7e8a solid;
    border-bottom: 2px #7e7e8a solid;
    border-bottom-left-radius: 6px;
        &:after{
            content:attr(data-content);
            position: absolute;
            right: -25px;
            top: 1px;
            color: #7e7e8a;;
            font-size: 1.3rem;
            transform: rotate(-90deg);
            //font-family: 'Courier New';
        }
    .bar{
        border-radius: 5px;
        line-height: 1.8rem;
        text-align: center;
        height: 100%;
        font-size: 1.5rem;
        //background-color: orangered; 

         &--violetGrad{
             background-image: linear-gradient(to right, $secondary-color,$primary-color);

        }
    }  
 } 
