html{
    font-size: 62.5%;
    
    
}
body{
    background-color: #24292e;
    background-image: url("../assets/img/star-bg.png"); 
    background-size: cover;
    background-position: bottom;  
    color: #f8f8f8;   
    
} 

p,h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
}

 

