@font-face{
    font-family: dryBrush;
    src: url(../assets/fonts/DryBrush.ttf);
}

@font-face{
    font-family: font2;
    src: url(../assets/fonts/IndieFlower.ttf);
}

@font-face{
    font-family: raleway;
    src: url(../assets/fonts/Raleway.ttf);
}
@font-face{
    font-family: raleway-l;
    src: url(../assets/fonts/Raleway-light.ttf);
}

